<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="esConductor" default-href="/home-conductor" text="Volver"></ion-back-button>
      <ion-back-button *ngIf="esPasajero" default-href="/home-pasajero" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Listado de viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <!-- Viaje creado solo si los datos están completos -->
        <ion-card *ngIf="viajeEnCurso">
          <ion-card-header *ngIf="esConductor" >Tu viaje</ion-card-header>
          <ion-card-header>
            <ion-card-title>{{ viajeEnCurso.origen }} → {{ viajeEnCurso.destino }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p><strong>Origen:</strong> {{ viajeEnCurso?.origen }}</p>
            <p><strong>Destino:</strong> {{ viajeEnCurso?.destino }}</p>
            <p><strong>Precio:</strong> ${{ viajeEnCurso?.precio }}</p>
            <p *ngIf="esPasajero"><strong>Pasajeros Disponibles:</strong> {{ viajeEnCurso.cantidadPasajeros }}</p>
            <p *ngIf="esConductor"><strong>Cantiad de Pasajeros:</strong> {{ viajeEnCurso.cantidadPasajeros }}</p>

            <!-- Botón "Tomar Viaje" si es pasajero -->
            <ion-button *ngIf="esPasajero" expand="full" color="success" (click)="tomarViaje()">Tomar Viaje</ion-button>

            <!-- Botón "Terminar Viaje" si es conductor -->
            <ion-button *ngIf="esConductor" expand="full" color="danger" (click)="terminarViaje()">Terminar Viaje</ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
